
body {
    display: flex;
    justify-content: center;
    background-color: #08D9D6;
}

.calculator {
    margin-top: 10vh;
    width: 40vh;
    border: 5px solid #252A34;
    border-radius: 10px;
    background-color: #FF2E63;
}

.result {
    margin: 1vh;
    height: 8vh;
    border: 5px solid #252A34;
    border-radius: 10px;
    background-color: #EAEAEA;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    margin: 1vh;
    padding: 1vh 0 1vh;
    border: 5px solid #252A34;
    border-radius: 10px;
    background-color: #EAEAEA;
}

.row {
    display: flex;
    gap: 1vh;
}

button {
    width: 8vh;
    height: 8vh;
    border: 3px solid #252A34;
    border-radius: 5px;
    font-size: 2rem;
    color: #252A34;
}

.double-button {
    width: 17vh;
}

.triple-button {
    width: 26vh;
}